<div class="center jumbotron">
  <h2>Welcome to the NBA Over / Under Contest</h2>

  <div class="container">
<% if current_user == nil %>
  <%= link_to "Create an account", signup_path, class: "btn btn-lg btn-primary" %>
  <br>
  <br>
  <p>OR</p>
  <br>
  <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
  <% end %>
  <div>
</div>
