<% provide(:title, 'Lines') %>
<h1>Available Over / Unders</h1>

<table class=" users table table-hover">
    <thead>
      <tr>
        <th>Team:</th>
        <th>Season Win Total:</th>
        <th>Bet Closed?</th>
      </tr>
    </thead>
    <tbody>
        <%= render @bets %>

    </tbody>
  </table>
